$primary: #3d1101;
$secondary: #efe9e7;
$tertiary:  #f6f4f3;

$fb-color: #3a5695;
$twitter-color: #3aa1f2;
$google-plus-color: #db4437;

$ribbon-primary: #65cd9a;
$ribbon-fold-primary: #45906e;

$browser-default-font-size: 16px;